.navigation-buttons {
    /* background-color: red; */
    display: flex;
    gap: 0.5em;
}

.back-link {
    display: flex;
    justify-content: center;
    color: #333;
    width: 200px;
    padding: 0.3em;
    border: solid 1px #CCC;
}

.back-link:hover {
    background-color: #333;
    color: #FFF;
}

.photo-btns {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.photo-card {
    background-color: #f3f3f3;
    width: 150px;
    margin: 20px 20px;
    border-radius: 5px;
}

.trash-btn {
    display: flex;
    border: solid 1px #CCC;
    color: #333;
}

.trash-btn:hover {
   background-color: #ce5555;
}

.info-msg {
    font-style: italic;
    font-size: 0.9em;
    color:#646464
}

input[type=file] {
    color: transparent;
}

.nv-file-over {
    background-color: #333;
}

.img-min {
    width: 150px;
    object-fit: contain;
}

.updload-progress-div {
    text-align: center;
    margin: 0 10%
}

.progress-bar {
    background-color: #333;
}