
<section class="photo-gallery-editor-section shadow p-2">
    <h3>Edit your ad photo gallery :</h3>
    <div *ngIf="ad?.photos?.length != 0" class="mb-3 mt-5 photo-gallery">
        <div *ngFor="let photo of ad?.photos" class="photo-card shadow-sm">
            <img src="{{photo.imageUrl}}" alt="{{photo.imageUrl}}" class="img-thumbnail p-1">
            <div class="photo-btns mt-2">
                <button class="btn btn-sm thumnnail-btn" 
                (click)="setPrimaryPhoto(ad!.id, photo.publicId)"
                [disabled]="photo.isPrimary"
                [ngClass]='photo.isPrimary ? "btn-primary active" : "btn-outline-primary"'>
                Thumbnail 
            </button>
            <button class="btn btn-sm trash-btn" (click)="deletePhoto(ad!.id, photo.publicId)" [disabled]="photo.isPrimary">
                <span class="material-symbols-outlined">delete</span>
            </button>
        </div>
    </div>
    </div>
    <p class="info-msg">* clicking the thumbnail button will select the photo for your ad thumbnail. The thumbnail photo can't be deleted.</p>
</section>
