.back-link {
    display: flex;
    justify-content: center;
    color: #333;
    width: 200px;
    padding: 0.3em;
    border: solid 1px #CCC;
}

.back-link:hover {
    background-color: #333;
    color: #FFF;
}

.form-group {
    margin-bottom: 1.5em;
}

.form-buttons {
   width: 70%;
}

.card-preview {
    padding-top: 5%;
}

.confirmationModal {
    display: flex;
    justify-content: center;
}

.modal-footer {
    display: flex;
    justify-content: space-around;
}
