<div>
    <a routerLink="/" class="back-link">
        <span class="material-symbols-outlined">arrow_back</span>
        &nbsp;Back to list
    </a>
</div>
<section class="ad-details-section">
    <div class="ad-details">
        <div class="ad-header">
            <h1 class="ad-title" *ngIf="ad.title">{{ad.title}}</h1>
            <p class="ad-price" *ngIf="ad.price">{{ad.price | currency}}</p>
        </div>
    </div>
    <div class="owner-section">
        <p *ngIf="ad.user">author: {{ad.user.name}}</p>
    </div>
</section>
<div class="ad-infos">
    <p *ngIf="ad.category" class="category">Category:&nbsp;&nbsp;{{ad.category.name}}</p>
    <p *ngIf="ad.condition" cclass="condition">Condition:&nbsp;&nbsp;{{ad.condition.name}}</p>
</div>
<div class="ad-description">
    <h5 class="description-section-title">Description</h5>
    <p class="description" *ngIf="ad.description">{{ad.description}}</p>
</div>
<section class="images">
    <div class="main-image">
        <img [id]="mainImg.id" [src]="mainImg.src" [title]="mainImg.id" alt="first slide">
    </div>
    <div class="gallery">
        <div *ngFor="let img of images">
            <button class="img-btn">
                <img [id]=img.id [src]=img.src [alt]=img.id [title]=img.id (click)="changeMainImg(img)">
            </button>
        </div>
    </div>
</section>
