<div>
    <a routerLink="/" class="back-link">
        <span class="material-symbols-outlined">arrow_back</span>
        &nbsp;Back to list
    </a>
</div>
<section class="ad-details-section">
    <div class="ad-details">
        <div class="ad-header">
            <p *ngIf="ad.title">{{ad.title}}</p>
            <p *ngIf="ad.price">{{ad.price}}</p>
        </div>
        <figure class="ad-images">
            images
        </figure>
        <div class="ad-infos">
            <p *ngIf="ad.description">{{ad.description}}</p>
        </div>
    </div>
    <div class="owner-section">
        <p *ngIf="ad.author">author: {{ad.author}}</p>
    </div>
</section>
