<app-navbar></app-navbar>
<div class="container"></div>
<h1>Hello there !</h1>
<app-posting-list></app-posting-list>

<h1>Hello there !</h1><h1>Hello there !</h1><h1>Hello there !</h1><h1>Hello there !</h1><h1>Hello there !</h1><h1>Hello there !</h1><h1>Hello there !</h1><h1>Hello there !</h1><h1>Hello there !</h1><h1>Hello there !</h1><h1>Hello there !</h1><h1>Hello there !</h1><h1>Hello there !</h1><h1>Hello there !</h1><h1>Hello there !</h1><h1>Hello there !</h1><h1>Hello there !</h1><h1>Hello there !</h1><h1>Hello there !</h1><h1>Hello there !</h1><h1>Hello there !</h1><h1>Hello there !</h1><h1>Hello there !</h1><h1>Hello there !</h1><h1>Hello there !</h1><h1>Hello there !</h1><h1>Hello there !</h1><h1>Hello there !</h1><h1>Hello there !</h1><h1>Hello there !</h1><h1>Hello there !</h1>
