<div class="card shadow-sm">
    <img src="assets/default_image.png" class="card-img" alt="default_image">
    <div class="card-body">
      <h5 class="card-title">{{item.Name}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      
      <div class="card-infos">
          <p class="card-text">{{item.Price | currency:'CAD':'symbol-narrow'}}</p>
          <p class="card-text">Category : {{item.Category}}</p>
      </div>
      <div class="m-auto">
          <a href="#" class="btn btn-primary">See more</a>
      </div>
    </div>
  </div>