<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/" title="Back to homepage">SellYourStuff</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="/post-ad" class="btn btn-outline-primary">
              <span class="material-symbols-outlined">add_box</span>&nbsp;Post ad
          </a>
        </li>
      </ul>
      <ul class="d-flex navbar-nav">
          <li *ngIf="!userSignedIn()" class="nav-item">
              <a class="nav-link" routerLink="/register" routerLinkActive="active"> 
                <span class="material-symbols-outlined">person_add</span>
                &nbsp;Register
              </a>
          </li>
          <li *ngIf="!userSignedIn()" class="nav-item">
            <a class="nav-link" routerLink="/signin"> 
              <span class="material-symbols-outlined">login</span>
                &nbsp;Sign in
            </a>
          </li>
          <div *ngIf="userSignedIn()" class="dropdown mr-5" dropdown>
            <a href="#" class="dropdown-toggle" dropdownToggle (click)="false">
              <span class="material-symbols-outlined">account_circle</span>
              &nbsp;{{loggedinUser}}
            </a>
            <div class="dropdown-menu" *dropdownMenu>
              <a class="nav-link" class="dropdown-item" routerLink="myDashboard"> 
                <span class="material-symbols-outlined">dashboard</span>
                &nbsp;Dashboard
              </a>
              <a class="nav-link" class="dropdown-item" routerLink="myAds"> 
                <span class="material-symbols-outlined">library_books</span>
                &nbsp;My ads
              </a>
              <!-- <a class="nav-link" class="dropdown-item" routerLink="#"> 
                <span class="material-symbols-outlined">chat</span>
                &nbsp;Messages
              </a> -->
              <a (click)='signOut()' class="dropdown-item">
                <span class="material-symbols-outlined">logout</span>
                &nbsp;Logout
              </a>
            </div>
          </div>
        </ul>
    </div>
  </div>
</nav>