.navbar {
    background-color: #fff !important;
}

.container-fluid {
    max-width: 1066px;
}

a, button {
    display: flex;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #65686a
}

.dropdown-toggle:hover {
    color: #333;
}

.dropdown-item:active {
    background-color: #1e2125;
}