<div>
    <a routerLink="/" class="back-link">
        <span class="material-symbols-outlined">arrow_back</span>
        &nbsp;Back to list
    </a>
</div>

<div class="card">
    <div class="card-header">
        add new ad
    </div>
    <div class="card-body">
        <form (ngSubmit)="onSubmit()">
            <div class="form-group col-12">
                <label for="name" class="form-control">Name</label>
                <input type="text" class="form-control">
            </div>

            <div class="form-group col-12">
                <label for="category" class="form-control">Category</label>
                <input type="text" class="form-control">
            </div>

            <div class="form-group col-12">
                <label for="name" class="form-control">Price</label>
                <input type="text" class="form-control">
            </div>

            <div class="form-group col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-primary">Cancel</button>
            </div>
        </form>
    </div>
</div>