.wrapper {
    margin-top: 5vh;
    padding-bottom: 10vh;
    width: 100%;
}

.form-zone {
    margin-bottom: 2vh;
    width: 90%;
    border-radius: 4px;
    border-color: #eee;
}

.card-header {
    border-bottom: 2px solid #eee;
}

.card-body {
    margin-top: 3vh;
}

.form-group {
    margin-bottom: 4vh;
}

.form-buttons {
   width: 70%;
   margin: auto;
   margin-bottom: 5vh;
}

