<div class="card shadow">
  <img *ngIf="ad.Image" src="assets/{{ad.Image}}" class="card-img" alt="ad main image">
  <img *ngIf="!ad.Image" src="assets/placeholder_img.png" class="card-img" alt="default_image">
  <div class="card-body">
    <h5 class="card-title">{{ad.title}}</h5>
    <div class="description">
      <p class="card-text">
        <span *ngIf="ad.description">
            {{ad.description | truncateText}}
        </span>
        <span *ngIf="!ad.description">
            Some quick example text to build on the card title and make up the bulk of the card's content.
        </span>
      </p>
    </div>
    <div class="card-infos">
        <p class="card-text">Category : {{ad.category}}</p>
        <p class="card-text">{{ad.price | currency:'CAD':'symbol-narrow'}}</p>
    </div>
    <span class="publicationDate">{{ad.publicationDate | date:'medium'}}</span>
    <a [routerLink]="['/ad-detail', ad.id]" class="stretched-link"></a>
  </div>
</div>
