<div class="card shadow">
  <img *ngIf="adImagePreview" [src]=adImagePreview class="card-img" alt="ad image preview">
  <img *ngIf="!adImagePreview" src="{{primaryPhotoUrl}}" class="card-img" alt="ad main image">
  <div class="card-body">
    <h5 *ngIf="ad?.title" class="card-title">{{ad.title | truncateText: 50}}</h5>
    <div class="description">
      <p class="card-text">
        <span *ngIf="ad?.description">
          {{ad.description | truncateText: 110}}
        </span>
        <span *ngIf="!ad?.description">
          Some quick example text to build on the card title and make up the bulk of the card's content.
        </span>
      </p>
    </div>
    <div class="card-infos">
      <div class="category-div">Category:
        <p *ngIf="ad?.category?.name" class="card-text">&nbsp;{{ad.category.name}}</p>
      </div>
      <p *ngIf="ad?.price" class="card-text">{{ad.price | currency:'CAD':'symbol-narrow'}}</p>
    </div>
    <div class="card-infos">
      <p *ngIf="ad?.user?.name" class="card-text">By: {{ad.user.name }}</p>
      <p *ngIf="ad?.condition?.name" class="card-text">{{ad.condition.name }}</p>
    </div>
    <span *ngIf="ad?.publicationDate" class="publicationDate">{{ad.publicationDate | date:'medium'}}</span>
    <a *ngIf="ad?.id"  [routerLink]="['/clad-detail', ad.id]" class="stretched-link"></a>
  </div>
</div>